.row.well.col-xs-12.col-md-10.col-md-offset-1
  .row.col-md-12.getaway 
    = link_to 'Back', ideas_path, class: "btn btn-warning"
    - if @idea.user == current_user
      = link_to 'Edit', edit_idea_path(@idea), class: "btn btn-info"
  %h2
    %strong= @idea.title
    
  %p
    = @idea.body

.row.well.col-xs-12.col-md-10.col-md-offset-1
  .row.col-xs-10.col-md-10.col-md-offset-1
    = form_for [@idea, @comment] do |f|
      = f.text_area :body, class: "form-control"
      = f.submit "Post Comment", class: "btn btn-primary getaway"
    %hr
  .row.col-xs-10.col-md-10.col-md-offset-1
    - if @idea.comments != nil
      - @idea.comments.each do |comment|
        .col-md-10.col-xs-10
          = comment.body
        - if comment.user == current_user  
          .pull-right.getaway
            = button_to "Delete", [@idea, comment], method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm btn-danger"
        .clearfix
        .pull-right.teenyweeny
          posted by #{comment.user.full_name}
        %hr
