.row.well.col-xs-12.col-md-10.col-md-offset-1
  .row.col-md-12.getaway 
    = link_to 'Back', ideas_path, class: "btn btn-warning"
    - if @idea.user == current_user
      = link_to 'Edit', edit_idea_path(@idea), class: "btn btn-info"
      = link_to 'Destroy', idea_path(@idea), method: :delete, data: {confirm: "Are you sure you want to delete this Idea?"}, class: "btn btn-danger"
  %h2
    %strong= @idea.title
    
  %p
    = simple_format @idea.body
  %hr
    = image_tag @idea.image.url(:medium)
  %hr
  .row
    - if user_signed_in?
      - if @idea.user != current_user
        - if @idea.joined_by?(current_user)
          = link_to "Joined", [@idea, @member], method: :delete, data: {confirm: "Are you sure you want to leave this Idea?"}, class: "btn btn-success"
        - else
          = link_to "Join", [@idea, Member.new], method: :post, class: "btn btn-default"
        - if @idea.liked_by?(current_user)
          = link_to "Liked", [@idea, @like], method: :delete, class: "btn btn-primary"
        - else
          = link_to "Like", [@idea, Like.new], method: :post, class: "btn btn-default"
      .pull-right{style: "margin-right: 4px;"}
        Members:          
        = @idea.members.count
        | 
        Likes:
        = @idea.likes.count 
  %hr
  .row
    %strong Members of this Idea --
    - @idea.members.each do |member|
      = member.user.full_name
      |
      

.row.well.col-xs-12.col-md-10.col-md-offset-1
  .row.col-xs-10.col-md-10.col-md-offset-1
    = form_for [@idea, @comment] do |f|
      = f.text_area :body, class: "form-control"
      = f.submit "Post Comment", class: "btn btn-primary getaway"
    %hr
  .row.col-xs-10.col-md-10.col-md-offset-1
    - if @idea.comments != nil
      - @idea.comments.each do |comment|
        .col-md-10.col-xs-10
          = simple_format comment.body
        - if comment.user == current_user  
          .pull-right.getaway
            = button_to "Delete", [@idea, comment], method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm btn-danger"
        .clearfix
        .pull-right.teenyweeny
          posted by #{comment.user.full_name}
        %hr
